framework: net461
redirects: ON
source https://www.nuget.org/api/v2/

nuget NuGet.CommandLine
nuget Microsoft.CodeAnalysis.CSharp.Workspaces 1.0.1
nuget FakeItEasy
nuget NUnit
nuget FluentAssertions
